/*
 * ----------------------------------------------------------------------------------------------------------------------
 * Default Theme Colours
 *
 * These can be overridden by copying this file and importing it
 * into your project after any "@fullstackfool/theme" import statements
 * ----------------------------------------------------------------------------------------------------------------------
 */

:root {
    --color-brand-light: #b948bb;
    --color-brand: #b948bb;
    --color-brand-dark: #b948bb;

    --color-primary-light: #568ae3;
    --color-primary: #426AB2;
    --color-primary-dark: #2f4c7d;

    --color-success-light: #49bf00;
    --color-success: #3DA000;
    --color-success-dark: #328200;

    --color-info-light: #93e2ff;
    --color-info: #6DCEF5;
    --color-info-dark: #64bad9;

    --color-warning-light: #ffae00;
    --color-warning: #E8A100;
    --color-warning-dark: #cc8800;

    --color-danger-light: #e82a2a;
    --color-danger: #B72020;
    --color-danger-dark: #991c1c;
}