.themed.dark {
    --color-bg-darker: #141518;
    --color-bg-dark: #202125;
    --color-bg: #313236;
    --color-bg-light: #444;
    --color-bg-lighter: #555;

    --color-text-strong: #fff;
    --color-text: #ddd;
    --color-text-muted: #aaa;

    --color-border: #444;
}