# dependencies
node_modules

# IDE
.idea

# generated content
dist
karnama-vueish-*

jest.config.js
jest.config.js.map
vite.config.js
vite.config.js.map

# cache
.eslintcache

# test reports
junit.xml
coverage-summary.json

# OS files
.DS_Store
