@import "tooltip.scss";

:root {
    --color-brand-50: 251, 250, 255;
    --color-brand-100: 237, 230, 255;
    --color-brand-200: 210, 190, 254;
    --color-brand-300: 185, 150, 253;
    --color-brand-400: 162, 109, 253;
    --color-brand-500: 142, 69, 252;
    --color-brand-600: 122, 24, 251;
    --color-brand-700: 106, 4, 226;
    --color-brand-800: 90, 3, 181;
    --color-brand-900: 72, 2, 136;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color {
    @apply text-gray-800;
}

.text-color-muted {
    @apply text-gray-500;
}

.text-color-error {
    color: theme('colors.red.700') !important;
}

.dark {
    & .text-color {
        @apply text-gray-200;
    }

    & .text-color-muted {
        @apply text-gray-400;
    }

    & .text-color-error {
        color: theme('colors.red.500') !important;
    }
}

.ui-error-text {
    @extend .text-color-error;
    @apply text-sm pt-1;
}

.ui-help-text {
    @extend .text-color-muted;
    @apply text-gray-400 text-sm pt-1;
}
